@model IEnumerable<aplikacija.Models.Naslov>

@{
    ViewData["Title"] = "Index";
}

<h1>Vsi naslovi</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HisnaSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oseba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HisnaSt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oseba.Ime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NaslovID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NaslovID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NaslovID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
